[Unit]
Description=playout

[Service]
User=playout
Group=playout
Type=simple
ExecStart=/usr/bin/playout.pl --daemon
Restart=always
TimeoutSec=infinity
TimeoutStopSec=10s
RuntimeDirectory=playout
PIDFile=/var/run/playout/playout.pid

[Install]
WantedBy=multi-user.target

